.connectionInfoHead {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: var(--bg-color);
    padding: 16px;
}

.connectionInfoHead svg {
    margin-right: 10px;
}

.connectionInfoTable td {
    font-size: 14px;
    color: #24292f;
    padding-top: 5px;
}

.connectionInfoTable tr td:first-child {
    padding-right: 20px;
}